body{
  font-family: 'Alata', sans-serif;
}
/* First section */
#first-section>img{
  width: 100%;
}

.nav-brand{
  position: absolute;
  top: 2%;
  left: 2%;
}

.nav-link{
  color: white;
  text-decoration: none;
  background-color: transparent!important;
}

.nav-link:hover, .nav-link:focus, .nav-link:active{
  color: white;
  border-bottom: 2px solid white;
}

.nav-section{
  z-index: 100;
  position: absolute;
  top: 2%;
  margin-right: 0;
  right: 2%;
  transform: translate3d(0, 0, 500px);
}

.title{
  position: absolute;
  top: 30%;
  left: 10%;
  -webkit-transform:translate3d(0,0,0);
  right: 50%;
  font-size: 6rem;
  color: white;
  border-color: #eee;
  border-width: 5px;
  border-style: solid;
  padding: 2%;
  font-family: 'Josefin Sans', sans-serif;
}

/* Second Section */
#second-secction{
  width: 100%;
  height: 5%;
}

.desc-section{
  position: absolute;
  top: 0;
  left: 0;
  padding: 10%;
  width: 70%;
  height: 400px;
  background-color: white;
  margin: 23% 0 0 30%;
  z-index: 9;
}

.container{
  position: relative;
  margin: 5% 15%;
  height: 700px;
  width: 75%;
}

.image{
  position: absolute;
  top: 0;
  left: 0;
}

.desc{
  color: hsl(0, 0%, 41%);
}

/* Third section */
#third-section{
  margin-top: 10%;
}

#third-section>button:hover{
  background-color: black;
  color: white;
}

#third-section>button{
  color: black;
  background-color: white;
  border-radius: 0;
  border-color: black;
  padding: 5px 30px;
  float: right;
  margin-right: 9.5%;
  margin-top: 1%;
}

.creation>a:hover{
  opacity: 50%;
}

.creation>a:hover>h1{
  opacity: 100%;
  color: hsl(0, 0%, 0%);
}

.creation>a:hover>.exception{
  color: white;
}

.desc-title, .title-third-section{
  font-size: 5rem;
  font-family: 'Josefin Sans', sans-serif;
  color: #000;
}

.creation>a>h1{
  position: absolute;
  color: white;
  font-family: 'Josefin sans', sans-serif;
  z-index: 1;
  top: 340px;
  padding: 0 25% 10% 10%;
}

.title-third-section{
  margin: 5%;
}

.creation{
  padding: 1%;
}

.top{
  margin: 5%;
}

/* Footer section */
#footer{
  padding: 2% 7%;
  background-color: black;
  color: white;
}

.footer-links>a{
  color: white;
  padding: 0 1%;
  position: relative;
}

.right-footer{
  text-align: right;
  padding-top: 3%;
}

.footer-links>a:hover{
  color: white;
  text-decoration: none;
  border-bottom: 2px solid white;
}

.fab{
  color: white;
  padding: 0 0.2%;
}

.fab:hover{
  border-bottom: 2px solid white;
}

.copyright{
  margin-top: 1%;
  color: hsl(0, 0%, 55%);
}


/* Attribution section */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* iPad pro [potrait] and iPad [landscape]*/
@media only screen and (max-width: 1200px)
{
  .title{
    right: 40%;
    top: 25%;
  }
}

/* Mobile display friendly */
@media only screen and (max-width: 825px){
  /* First section */
    .title{
      position: absolute;
      top: 15%;
      font-size: 5rem;
      border-width: 3px;
      right: 25%;
      padding: 3%;
      left: 5%;
    }
  /* Second Section */
  .desc-section{
    position: static;
    top: 0;
    width: 96%;
    text-align: center;
    margin: 0;
  }
  .desc-title{
    font-size: 3.4rem;
  }
  .container{
    position: static;
    width: 99%;
    margin: 20% 1%;
    height: 50%;
  }
  .mobile-img{
    width: 98%;
    height: 72%;
  }
  .image{
    position: static;
  }

  /* Third-section */
  .title-third-section{
    font-size: 3.7rem;
    text-align: center;
    padding-bottom: 3%;
  }
  .creation-mobile-image{
    width: 100%;
    height: 44%;
  }
  .creation{
    padding: 3% 0;
  }
  .creation>a>h1{
    font-size: 5rem;
    padding: 0 53% 0 5%;
    position: absolute;
    top: 140px;
  }
  #third-section>button{
    float: none;
    margin: 0 43% 15% 43%;
  }

  /* Footer section */
  #footer, .right-footer{
    text-align: center;
  }
  .copyright{
    margin-bottom: 10%;
    margin-top: 5%;
  }
  .fab{
    font-size: 2.5rem;
    padding: 0 1%;
  }
  .footer-links>a{
    display: block;
    padding: 2% 0;
  }
  .right-footer{
    padding-top: 7%;
  }
  .brand{
    margin-bottom: 6%;
  }
}

/* iPad specific [potrait mode] */
@media only screen and (max-width: 800px)
{
  .title{
    top: 15%;
  }
}

@media only screen and (max-width: 767px)
{
  .title{
    right: 20%;
    top: 45%;
    font-size: 6rem;
  }
  .creation>a>h1{
    font-size: 3.5rem;
    top: 100px;
  }
  .nav-section{
    position: absolute;
    top: 4%;
  }
  .nav-item-logo>a{
    margin-top: 7%;
    margin-bottom: 30%;
  }
  .nav-item-logo>a:hover{
    background-color: transparent !important;
  }
  .nav-brand{
    position: absolute;
    top: 4%;
  }
  .nav-wrapper{
    top: 0;
    margin-top: 0;
    right: 0px;
    left: 0px;
    background-color: black;
    z-index: 99;
    min-height: 700px;
    height: 100%;
    font-size: 2rem;
    text-align: left;
    padding-left: 5%;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    transform: translate3d(0, 0, 200px);
  }
  .nav-link:hover, .nav-link:focus, .nav-link:active, .footer-links>a:hover{
    border-bottom: 0;
  }
  .nav-item{
    padding: 1% 0;
  }
}

@media only screen and (max-width: 547px)
{
  .title{
    position: absolute;
    top: 30%;
    font-size: 4.5rem;
    border-width: 3px;
    right: 5%;
    padding: 6%;
    left: 5%;
  }
  .creation>a>h1{
    font-size: 3rem;
    padding: 0 53% 0 5%;
    position: absolute;
    top: 50px;
  }
  #third-section>button{
    margin: 0 37% 15% 37%;
  }
}

@media only screen and (max-width: 380px)
{
  .title{
    font-size: 3.5rem;
  }
  .desc-title{
    font-size: 2.5rem;
  }
  .title-third-section{
    font-size: 3rem;
  }
  .creation>a>h1{
    font-size: 2rem;
  }
}
